//COLORS

$gradient-coral: #f5b49c, #c87658, #f36b39;
$gradient-green: #d9f5b1, #7ac46d, #51d87e;

$color-red: #721917cc;
$color-blue: #050f37cc;
$color-green: #28b485cc;
$color-coral: coral;
$gradient-colors: $color-red, $color-blue, $color-green;

// $color-orange-light: #ffb900;
// $color-orange-dark: #ff7730;

$color-for-card-back: #22222b, #616197;

$color-border-line: #eee;
$color-gray-light-1: #f3f3f3;
$color-black: black;
$color-white: #fff;
$color-gray: #777;
$color-grey-dark: #333;
$color-white-gray: #c3c3c333;

//FONT
$default-font-size: 1.6rem;

//GRIDS
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
